# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  42  90  24  85
1  60  60  24  59
2   8  68  27  41
3  12  19  61  82
4  28  33  86  92
5  13  86  93   8
DataFrame with new index:
     B   C   D
A
42  90  24  85
60  60  24  59
8   68  27  41
12  19  61  82
28  33  86  92
13  86  93   8

In [9]:
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index = ['X','Y','Z'])
print("Original DataFrame:")
print(df)

element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  97  81  73
Y  79  13   5
Z  30  95  46
Element at row 'Y' and column 'B': 13

In [13]:
df = pd.DataFrame(np.random.randint(1,5,size=(5,3)))
print(df)

df[3] = df[0]*df[1]
print(df)

   0  1  2
0  2  2  4
1  3  4  1
2  1  3  4
3  1  1  2
4  3  4  2
   0  1  2   3
0  2  2  4   4
1  3  4  1  12
2  1  3  4   3
3  1  1  2   1
4  3  4  2  12

In [19]:
df = pd.DataFrame(np.random.randint(1,10,size=(4,3)),columns=['A','B','C'],index=['1','2','3','4'])
print(df)

rows_sum = df.sum(axis=1)
cols_sum = df.sum(axis=0)
print("\n",rows_sum)
print("\n",cols_sum)

   A  B  C
1  7  8  9
2  9  8  2
3  7  9  2
4  1  5  7

 1    24
2    19
3    18
4    13
dtype: int64

 A    24
B    30
C    20
dtype: int64

In [21]:
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

df.fillna(df.mean(),inplace=True)
print("\n",df)

Original DataFrame:
    A   B   C
0  77  39  48
1   1  83  45
2  92  29   9
3  85  75  70
4  20  75  77
DataFrame with NaN values:
      A     B     C
0  77.0   NaN  48.0
1   1.0  83.0  45.0
2  92.0  29.0   NaN
3  85.0  75.0  70.0
4   NaN  75.0  77.0

        A     B     C
0  77.00  65.5  48.0
1   1.00  83.0  45.0
2  92.00  29.0  60.0
3  85.00  75.0  70.0
4  63.75  75.0  77.0

In [24]:
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

df.dropna(inplace=True)
print("\n",df)

Original DataFrame:
    A   B   C
0  21  89  89
1   5  66  40
2  93  62   3
3  51  13  18
4  52   6  35
DataFrame with NaN values:
      A     B     C
0  21.0   NaN  89.0
1   5.0  66.0  40.0
2  93.0  62.0   NaN
3  51.0  13.0  18.0
4   NaN   6.0  35.0

       A     B     C
1   5.0  66.0  40.0
3  51.0  13.0  18.0

In [25]:
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category
grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        C     37
1        A     18
2        C     70
3        B     67
4        C     28
5        C     79
6        B     17
7        C     71
8        C     30
9        A     52
Grouped DataFrame:
          sum  mean
Category
A          70  35.0
B          84  42.0
C         315  52.5

In [36]:
df = pd.DataFrame({'Product' : np.random.choice(['Apple','Xaomi','Samsung'],size=10) , 'Category' : np.random.choice(['Phone','Tablet','Laptop'],size=10), 'Sales' : np.random.randint(100,500,size=10)})
print('\tRaw Data')
print(df)

analysis = df.groupby('Product')['Sales'].sum()
analysis

	Raw Data
   Product Category  Sales
0  Samsung    Phone    281
1  Samsung   Tablet    363
2  Samsung   Laptop    397
3    Apple   Tablet    413
4    Xaomi   Tablet    118
5    Apple   Tablet    228
6    Apple   Tablet    347
7    Apple   Tablet    199
8  Samsung    Phone    464
9    Xaomi    Phone    307

Product
Apple      1187
Samsung    1505
Xaomi       425
Name: Sales, dtype: int64

In [37]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      85
1   B      22
2   C      88
3   D      21
DataFrame 2:
  Key  Value2
0   A      96
1   B      81
2   C      20
3   E      27
Merged DataFrame:
  Key  Value1  Value2
0   A      85      96
1   B      22      81
2   C      88      20

In [42]:
# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)
# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  97  52
1  91   4
2  60  82
DataFrame 2:
    C   D
0  35  91
1  41   5
2  16  28
Concatenated DataFrame (rows):
      A     B     C     D
0  97.0  52.0   NaN   NaN
1  91.0   4.0   NaN   NaN
2  60.0  82.0   NaN   NaN
0   NaN   NaN  35.0  91.0
1   NaN   NaN  41.0   5.0
2   NaN   NaN  16.0  28.0
Concatenated DataFrame (columns):
    A   B   C   D
0  97  52  35  91
1  91   4  41   5
2  60  82  16  28

In [51]:
date_rng = pd.date_range('20-01-2023','20-01-2024',freq='D')
df = pd.DataFrame(date_rng,columns=['date'])
df['data'] = pd.DataFrame(np.random.randint(0,100,size=len(date_rng)))
df.set_index('date',inplace=True)
print(df)

Monthly_mean = df.resample('M').mean()
print(Monthly_mean)

rolling_mean = df.rolling(window=7).mean()
print(rolling_mean)

            data
date
2023-01-20    34
2023-01-21    89
2023-01-22    32
2023-01-23    95
2023-01-24    52
...          ...
2024-01-16    13
2024-01-17    21
2024-01-18     2
2024-01-19    14
2024-01-20    69

[366 rows x 1 columns]
                 data
date
2023-01-31  52.916667
2023-02-28  55.714286
2023-03-31  55.516129
2023-04-30  52.033333
2023-05-31  53.838710
2023-06-30  54.233333
2023-07-31  40.677419
2023-08-31  49.483871
2023-09-30  58.766667
2023-10-31  51.451613
2023-11-30  51.300000
2023-12-31  44.806452
2024-01-31  41.600000
                 data
date
2023-01-20        NaN
2023-01-21        NaN
2023-01-22        NaN
2023-01-23        NaN
2023-01-24        NaN
...               ...
2024-01-16  54.000000
2024-01-17  53.142857
2024-01-18  41.000000
2024-01-19  38.857143
2024-01-20  35.857143

[366 rows x 1 columns]

/tmp/ipykernel_33861/718639332.py:7: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  Monthly_mean = df.resample('M').mean()

In [56]:
arrays = [['A','A','B','B'],['one','two','one','two']]
index = pd.MultiIndex.from_arrays(arrays,names=('Category','Sub-Category'))
df = pd.DataFrame(np.random.randint(1,100 , size=(4,3)),index=index,columns=['Value1','Value2','Value3'])
print(df)
print(df.loc['A'])
print("\n")
print(df.loc['B','two'])

                       Value1  Value2  Value3
Category Sub-Category
A        one               74      69      69
         two               83      27      32
B        one               55      46      26
         two               11      14      66
              Value1  Value2  Value3
Sub-Category
one               74      69      69
two               83      27      32


Value1    11
Value2    14
Value3    66
Name: (B, two), dtype: int64

In [60]:
arr = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arr,names=('Category','Sub-Category'))
df = pd.DataFrame(np.random.randint(1,100,size=(6,3)),index=index,columns=['Value1', 'Value2', 'Value3'])
print(df)
sum_values = df.groupby(['Category', 'Sub-Category']).sum()
print("Sum of values:")
print(sum_values)

                       Value1  Value2  Value3
Category Sub-Category
A        one               87      34      52
         two               39      33      85
B        one               55      37      66
         two                3      40      68
C        one               17       8      44
         two               63      43      61
Sum of values:
                       Value1  Value2  Value3
Category Sub-Category
A        one               87      34      52
         two               39      33      85
B        one               55      37      66
         two                3      40      68
C        one               17       8      44
         two               63      43      61

In [67]:
date_rng = pd.date_range(start='2022-01-01',end='2022-10-01',freq='D')
df = pd.DataFrame({'Date':np.random.choice(date_rng,size=20),'Category': np.random.choice(['A','B','C'],size=20),'Value': np.random.randint(1,100,size=20)})
print(df)

pivot = df.pivot_table(values='Value',index='Date',columns='Category',aggfunc='sum')
pivot.fillna('-',inplace=True)
pivot

         Date Category  Value
0  2022-06-03        A     28
1  2022-07-28        A     99
2  2022-03-11        B     76
3  2022-05-22        B     46
4  2022-02-23        A     25
5  2022-04-30        C     24
6  2022-01-02        C     39
7  2022-02-19        C     78
8  2022-07-10        A     60
9  2022-03-12        C     61
10 2022-07-26        A     47
11 2022-02-16        A     24
12 2022-09-05        C     25
13 2022-05-12        C     29
14 2022-01-16        C     96
15 2022-01-07        A     25
16 2022-07-14        B     18
17 2022-07-19        B     21
18 2022-06-21        A     12
19 2022-07-22        C     49

/tmp/ipykernel_33861/3987654354.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  pivot.fillna('-',inplace=True)

Category       A     B     C
Date
2022-01-02     -     -  39.0
2022-01-07  25.0     -     -
2022-01-16     -     -  96.0
2022-02-16  24.0     -     -
2022-02-19     -     -  78.0
2022-02-23  25.0     -     -
2022-03-11     -  76.0     -
2022-03-12     -     -  61.0
2022-04-30     -     -  24.0
2022-05-12     -     -  29.0
2022-05-22     -  46.0     -
2022-06-03  28.0     -     -
2022-06-21  12.0     -     -
2022-07-10  60.0     -     -
2022-07-14     -  18.0     -
2022-07-19     -  21.0     -
2022-07-22     -     -  49.0
2022-07-26  47.0     -     -
2022-07-28  99.0     -     -
2022-09-05     -     -  25.0

In [70]:
df = pd.DataFrame({'Year': np.random.choice([2020,2021,2022],size=12),'Quater':np.random.choice(['Q1','Q2','Q3','Q4'],size=12),'Revenue':np.random.randint(100000,100000000,size=12)})
print(df)

pivot = df.pivot_table(values='Revenue',index='Year',columns='Quater',aggfunc='mean')
pivot.fillna('-',inplace=True)
pivot

    Year Quater   Revenue
0   2022     Q2  22201734
1   2021     Q2  69499444
2   2021     Q4  59182414
3   2021     Q3  84232527
4   2021     Q3  61157308
5   2020     Q2  40965767
6   2021     Q1  85596280
7   2020     Q4  25780499
8   2020     Q3  85651051
9   2021     Q2  45615190
10  2020     Q2  93165835
11  2021     Q2  97732654

/tmp/ipykernel_33861/630893550.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  pivot.fillna('-',inplace=True)

Quater          Q1          Q2          Q3          Q4
Year
2020             -  67065801.0  85651051.0  25780499.0
2021    85596280.0  70949096.0  72694917.5  59182414.0
2022             -  22201734.0           -           -

In [73]:
df = pd.DataFrame(np.random.randint(1,10,size=(5,3)))
print(df)

print(df.applymap(lambda x:x**2))

   0  1  2
0  4  3  7
1  3  1  8
2  7  3  2
3  7  7  4
4  8  6  8
    0   1   2
0  16   9  49
1   9   1  64
2  49   9   4
3  49  49  16
4  64  36  64

/tmp/ipykernel_33861/1955699565.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df.applymap(lambda x:x**2))

In [76]:
df = pd.DataFrame(np.random.randint(1,10,size=(5,3)),columns=['A','B','C'])
df['Sum'] = df.apply(lambda row:row.sum(),axis=1)
df

   A  B  C  Sum
0  3  2  4    9
1  4  9  1   14
2  9  7  6   22
3  7  8  9   24
4  6  6  5   17

In [80]:
series = pd.Series(['Apple','Stawberry','Lichi','Orange','Kiwi','Banana'])
print(series.str.upper())
print('\n',series.str[:3])

0        APPLE
1    STAWBERRY
2        LICHI
3       ORANGE
4         KIWI
5       BANANA
dtype: object

 0    App
1    Sta
2    Lic
3    Ora
4    Kiw
5    Ban
dtype: object