# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [6]:
s = set(range(1,11))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
s.add(11)
print(s)
s.remove(1)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [15]:
st1 = set(range(1,6))
st2 = set(range(2,11,2)) 
print(st1,"\n",st2)
print(st1.union(st2))
print(st1.intersection(st2))
print(st1.difference(st2))
print(st1.symmetric_difference(st2))

{1, 2, 3, 4, 5}
 {2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

In [22]:
st = {x**2 for x in range(1,11)}
print(st)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [23]:
ss = {x for x in s if x%2==0}
print(ss)

{2, 4, 6, 8, 10}

In [24]:
sm = {1, 2, 2, 3, 4, 4, 5}
sy = set(sm)
print(sy)

{1, 2, 3, 4, 5}

In [26]:
s1 = set(range(1,6))
s2 = set(range(1,4))

print(s2.issubset(s1))
print(s1.issuperset(s2))

True
True

In [28]:
fs = frozenset(range(1,6))
print(fs)

frozenset({1, 2, 3, 4, 5})

In [30]:
s3 = set(range(1,6))
print(s3)
l = list(s3)
l.append(6)
print(l)
s3 = set(l)
print(s3)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

In [33]:
di = {
    frozenset({1,2}):3,
    frozenset({4,5}):6
      }
print(di)

{frozenset({1, 2}): 3, frozenset({4, 5}): 6}

In [37]:
s4 = set(range(1,11))
for x in s4:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [38]:
while s4:
    s4.pop()
    print(s4)

{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()

In [42]:
s5 = set(range(1,6))
s6 = set(range(1,11,2))

print(s5,"\t",s6)
s5.symmetric_difference_update(s6)
print(s5)

{1, 2, 3, 4, 5} 	 {1, 3, 5, 7, 9}
{2, 4, 7, 9}

In [43]:
s = set(range(1, 6))
print(3 in s)
print(6 in s)

True
False

In [44]:
s7 = {
    (1,2),
    (3,4),
    (5,6)
    }
print(s7)

{(1, 2), (3, 4), (5, 6)}