# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
t = tuple(range(1,11))
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
print(t[0])
print(t[len(t)//2])
print(t[-1])

1
6
10

In [10]:
print(t[0:3])
print(t[-3:])
print(t[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [13]:
matrix = ((1,2,3),(4,5,6),(7,8,9))
for i in matrix:
    print(i)

print(matrix[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

In [14]:
t1 = (1,2,3);t2 = (4,5,6)
concatinate = t1 + t2
print(concatinate)

(1, 2, 3, 4, 5, 6)

In [16]:
dup = (1,4,6,1,4,11,4,6,7)
print(dup.count(1))
print(dup.index(4))

2
1

In [18]:
tpl = (1,2,3,4,5)
a,b,c,d,e = tpl
print(a,b,c,d,e)

1 2 3 4 5

In [19]:
lst = list(range(1,6))
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

In [21]:
print(matrix)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [25]:
x = tuple(range(1,6))
print(x)
y = list(x)
y.append(6)
x = tuple(y)
print(x)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)

In [28]:
s = "hello"
t = tuple(s)
print(t)
j = ''.join(t)
print(j)

('h', 'e', 'l', 'l', 'o')
hello

In [29]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [31]:
for i in matrix:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [34]:
new = set(dup)
print(dup)
print(tuple(new))

(1, 4, 6, 1, 4, 11, 4, 6, 7)
(1, 4, 6, 7, 11)

In [36]:
def t_min(tpl):
    return min(tpl)

def t_max(tpl):
    return max(tpl)

def t_sum(tpl):
    return sum(tpl)

print(tpl)
print(t_min(tpl))
print(t_max(tpl))
print(t_sum(tpl))

(1, 2, 3, 4, 5)
1
5
15