# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [19]:
import sqlite3 as sql

In [ ]:
def create_database():
    conn = sql.connect('Employees.db')
    print('Creation Successfull')
    conn.close()

create_database()

Creation Successfull

In [22]:
def create_Table():
    conn = sql.connect('Employees.db')
    cursor = conn.cursor()
    cursor.execute('''
CREATE TABLE IF NOT EXISTS Employees(
                   id INTEGER PRIMARY KEY,
                   name TEXT NOT NULL,
                   age INTEGER,
                   department TEXT
                   )
                   
''')
    conn.commit()
    print('Table Created!!')
    conn.close()

create_Table()

Table Created!!

In [23]:
def Insert_Data(id,name,age,department):
    conn = sql.connect('Employees.db')
    cursor = conn.cursor()
    cursor.execute('''
INSERT INTO EMPLOYEES(id,name,age,department)
                   VALUES (?,?,?,?)
''',(id,name,age,department))
    print('Data Inserted')
    conn.commit()
    conn.close()

Insert_Data(1,'Vidit',22,'IT')

Data Inserted

In [24]:
Insert_Data(2,'Julie',27,'HR')
Insert_Data(3,'Mark',34,'Sales')
Insert_Data(4,'Sam',25,'Marketing')

Data Inserted
Data Inserted
Data Inserted

In [27]:
def Fetch_Data():
    conn = sql.connect('Employees.db')
    cursor = conn.cursor()
    cursor.execute('''
SELECT * FROM EMPLOYEES
''')
    data = cursor.fetchall()
    for data in data:
        print(data)
    conn.close()


Fetch_Data()

(1, 'Vidit', 22, 'IT')
(2, 'Julie', 27, 'HR')
(3, 'Mark', 34, 'Sales')
(4, 'Sam', 25, 'Marketing')

In [ ]:
def Fetch_Selective_Data(department):
    conn = sql.connect('Employees.db')
    cursor = conn.cursor()
    cursor.execute('''
SELECT * FROM EMPLOYEES WHERE department = ?
''',(department,))
    data = cursor.fetchall()
    for data in data:
        print(data)
    conn.close()

Fetch_Selective_Data('IT')

(1, 'Vidit', 22, 'IT')

In [35]:
def update_Data(id,department):
    conn = sql.connect('Employees.db')
    cursor = conn.cursor()
    cursor.execute('''
UPDATE Employees
                   SET department = ?
                   WHERE id = ?

''',(department,id))
    conn.commit()
    conn.close()

update_Data(3,'Devops')
update_Data(2,'R&D')
update_Data(4,'Admin')

In [36]:
Fetch_Data()

(1, 'Vidit', 22, 'IT')
(2, 'Julie', 27, 'R&D')
(3, 'Mark', 34, 'Devops')
(4, 'Sam', 25, 'Admin')

In [38]:
Insert_Data(5,'Suman',28,'Intern')

Data Inserted

In [39]:
Fetch_Data()

(1, 'Vidit', 22, 'IT')
(2, 'Julie', 27, 'R&D')
(3, 'Mark', 34, 'Devops')
(4, 'Sam', 25, 'Admin')
(5, 'Suman', 28, 'Intern')

In [41]:
def Delete_Data(id):
    conn = sql.connect('Employees.db')
    cursor = conn.cursor()
    cursor.execute('''
DELETE FROM Employees WHERE id = ?
''',(id,))
    conn.commit()
    conn.close()

Delete_Data(5)
Fetch_Data()

(1, 'Vidit', 22, 'IT')
(2, 'Julie', 27, 'R&D')
(3, 'Mark', 34, 'Devops')
(4, 'Sam', 25, 'Admin')

In [44]:
def age_Specific(age):
    conn = sql.connect('Employees.db')
    cursor = conn.cursor()
    result = cursor.execute('SELECT * FROM Employees WHERE age < ?',(age,))
    for i in result:
        print(i)
    conn.commit()
    conn.close()

age_Specific(30)

(1, 'Vidit', 22, 'IT')
(2, 'Julie', 27, 'R&D')
(4, 'Sam', 25, 'Admin')

In [47]:
def Insert_multiple(data):
    con = sql.connect('Employees.db')
    cursor = con.cursor()
    try:
        cursor.execute('INSERT INTO Employees(id,name,age,department) VALUES (?,?,?,?)',data)
        con.commit()
    except Exception as e:
        con.rollback()
        print('Opps! error occured Transaction Rolled Back!!!')
        print('Error:',e)
    finally:
        con.close()

    
data = [[6, 'Frank', 40, 'Finance'],
    [7, 'Grace', 29, 'Engineering'],
    [8, 'Hannah', 35, 'Marketing'],
    [9, 'Ivan', 38, 'Sales'],
    ]

Insert_multiple(data)

Opps! error occured Transaction Rolled Back!!!
Error: Error binding parameter 1: type 'list' is not supported

In [51]:
def update_Multiple_age(records):
    con = sql.connect('Employees.db')
    cursor = con.cursor()
    try:
        cursor.execute('UPDATE Employees SET age = ? WHERE id = ?',(records))
        con.commit()
    except Exception as e:
        con.rollback()
        print(e)
    finally:
        con.close()

records = [
    (32, 1),
    (26, 2),
    (33, 3),
    (41, 4),  # Non-existing ID to cause an error
    (23, 5)]
update_Multiple_age(records=records)

Incorrect number of bindings supplied. The current statement uses 2, and there are 5 supplied.

In [52]:
def create_departments_table():
    conn = sql.connect('Employees.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS departments (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL
        )
    ''')
    conn.commit()
    conn.close()
    print("Table 'departments' created successfully.")

# Test the function
create_departments_table()

Table 'departments' created successfully.